.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# package artifacts / lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# repo meta
.git/**
.github/**

# misc
.DS_Store
